body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.main-container {
    margin: 1rem;
    background-color: #e8d3dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style: outset;
    border-width: 10px;
    border-color: #a166a0;
    border-radius: 5rem;
}

.main-container .variable-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container .input-label {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #97658e;
    text-align: left;

    transition: all 0.3s ease-in-out;
}

.input-container .input-label-focus {
    color: #78436e;
    transform: translateY(-1.5rem) scale(1.2);

    transition: all 0.3s ease-in-out;
}

.input-container input {
    width: 30%;
    min-width: 20em;
    height: 2rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background-color: #f1ebee;

    touch-action: manipulation;
    transition: all 0.2s ease-in-out;
}

.input-container input:focus {
    border: 1px solid #ff7fe8;
    box-shadow: 0 0 3em #ff60e4;
    background-color: #ffffff;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.button-container button {
    height: 3rem;
    padding: 0 2rem;
    margin-bottom: 3rem;
    border: none;
    border-radius: 15px;
    background-color: #b853a6;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.button-container button:hover {
    color: #4b1742;
    background-color: #ffb7f3;
    box-shadow: 0 0 3em #ff5ae6d4;
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-container button:active {
    background-color: #ffb7f3;
    box-shadow: 0 0 3em #ff00d9;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
}

.button-container button:focus {
    outline: none;

    color: #4b1742;
    background-color: #ffb7f3;
    box-shadow: 0 0 3em #ff5ae6d4;
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.existing-identity {
    display: flex;

    bottom: 0;
    margin-top: 6rem;
    margin-bottom: 8rem;
    justify-content: center;
    align-items: center;
}

.existing-identity .identity-container {
    display: flex;
    border-radius: 50%;
    border-style: none;
    background-color: #ffb7f3;
    height: 50px;
    width: 50px;

    margin-right: 0.3rem;
    margin-left: 0.3rem;

    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
}

.existing-identity .identity-container:hover {
    background-color: #ffb7f3;
    box-shadow: 0 0 3em #ff5ae6d4;

    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.existing-identity .identity-container:active {
    background-color: #ffb7f3;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
}

#identity-context-menu {
    display: none;

    position: absolute;
    width: 80px;
    padding: 10px;

    background-color: #fedff8;
    border-radius: 15px;
    box-shadow: 0 0 50px #c18181;
    z-index: 999;

    transition: all 0.3s ease-in-out;
}

#identity-context-menu .identity-context-menu-item {
    list-style: none;
    padding: 5px;

    border-radius: 8px;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#identity-context-menu .identity-context-menu-item:hover {
    background-color: #e182d3;
    transition: all 0.3s ease-in-out;
}

#tool-tips {
    position: absolute;
    max-width: 500px;
    padding-left: 40px;

    color: #a166a0;

    transition: all 0.3s ease-in-out;
}

.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}

hr {
    border: 0.5vh solid #a166a01f;
    border-radius: 10px;
}
#logo {
    width: 6rem;
    transition: all 0.3s ease-in-out;
}
#logo:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 2rem rgb(255, 0, 200)) saturate(2);
    transform: scale(1.5);
}
.logo-light {
    transition: all 0.3s ease-in-out;

    animation: light 0.5s cubic-bezier(0, 0.73, 0.34, 0.64) infinite alternate;
}

@keyframes light {
    0% {
        filter: drop-shadow(0px 0px 1rem rgb(255, 0, 200));
        transform: scale(1);
    }
    100% {
        filter: drop-shadow(0px 0px 2rem rgb(255, 0, 200));
        transform: scale(1.2);
    }
}
